/* Mini version */

div#vc-spotify-player {
    position: relative;
    overflow: hidden;
    height: 3em;
    transition: height .25s;
    /* width: calc(100% - 1.45em); */
    width: calc(100% - 1em);
}

div#vc-spotify-player:hover {
    height: 7em;
}

/* Hide album text */

.vc-spotify-ellipoverflow:has(span[id="vc-spotify-album-title"]) {
    display: none;
}

/* Background gradient */

div#vc-spotify-player:before {
    content: "";
    background: var(--vc-spotify-track-image) center/cover;
    position: fixed;
    width: 100vw;
    height: 200vh;
    bottom: 0;
    left: 0;
    filter: blur(40em);
    transform: translate(-25vw, 50vh);
    z-index: -9999999999999999999999999999999;
    transition: background 5s;
    user-select: none;
    pointer-events: none;
}

/* Fixes */

#vc-spotify-info-wrapper {
    z-index: 5;
    position: relative;
}

.vc-spotify-button-row {
    z-index: 5;
    position: relative;
}


/* Making the discord more transparent */

nav.container__2637a {
    z-index: 4;
}

nav.wrapper_ef3116.guilds_c48ade {
    z-index: 5;
}

.wrapper_ef3116 {
    background-color: rgb(var(--sky-fourth) / calc(var(--transparency-intensity) * 1%));
}

/* A something random with background... lol */

.footer__214dc {
    background: transparent !important;
}

.theme-dark .container__2637a {
    background: rgb(var(--sky-secondary) / calc(var(--transparency-intensity) * 1%));
}

.scroller__99e7c.thin__99f8c.scrollerBase__99f8c.fade__99f8c {
    background: rgb(var(--sky-secondary) / calc(var(--transparency-intensity) * 1%));
}

main.chatContent_f75fb0 {
    z-index: 5;
    background: rgb(var(--sky-primary) / calc(var(--transparency-intensity) * 1%));
}

nav.privateChannels__35e86 {
    background: rgb(var(--sky-secondary) / 0%) !important;
    z-index: 11;
}

.container__133bf {
    background: rgb(var(--sky-primary) / calc(var(--transparency-intensity) * 1.05%));
    z-index: 5;
}

/* User Profile / Voice Connected / Spotify player, transparency */

section.panels_c48ade {
    background: rgb(var(--sky-sixth) / 0%) !important;
}

.wrapper_e131a9 {
    background: rgb(var(--sky-secondary) / 0%) !important;
}

.wrapper_e131a9>.container_e131a9 {
    background: rgb(var(--sky-sixth) / calc(var(--transparency-intensity) * 1%));
}

/* Spotify */
.theme-dark #vc-spotify-player {
    background: rgb(var(--sky-sixth) / calc(var(--transparency-intensity) * 1%));
}

/* User profile */

.theme-dark .container__37e49 {
    background: rgb(var(--sky-sixth) / calc(var(--transparency-intensity) * 1%));
}

.theme-dark .themed__9293f {
    background: rgb(var(--sky-sixth) / calc(var(--transparency-intensity) * 1%));
}

.container__7d20c {
    background: rgb(var(--sky-sixth) / calc(var(--transparency-intensity) * 1%));
}

.scroller__7d20c {
    background: rgb(var(--sky-secondary) / calc(var(--transparency-intensity) * 1.05%)) !important;
}

.nowPlayingColumn__133bf {
    background: rgb(var(--sky-primary) / 0%);
}

/* Dark title bar */

.typeWindows__421ed.withFrame__421ed.titleBar__421ed.withBackgroundOverride__421ed {
    background: rgb(var(--sky-primary));
}

/* Dark User Outer */

.outer_c0bea0.theme-dark.images-dark.panel_c0bea0 {
    z-index: 10;
}