/* Mini version */

div#vc-spotify-player {
    position: relative;
    overflow: hidden;
    height: 3em;
    transition: height .25s;
}

div#vc-spotify-player:hover {
    height: 7em;
}

/* Hide album text */

.vc-spotify-ellipoverflow:has(span[id="vc-spotify-album-title"]) {
    display: none;
}

/* Background gradient */

div#vc-spotify-player:before {
    content: "";
    position: absolute;
    width: 5em;
    height: 4em;
    background: var(--vc-spotify-track-image) center/cover;
    filter: blur(5em);
    transform: translate(-1em, -6px);
    z-index: 0;
    transition: background .25s;

}

/* Fixes */

#vc-spotify-info-wrapper {
    z-index: 5;
    position: relative;
}

.vc-spotify-button-row {
    z-index: 5;
    position: relative;
}